infrastructure/pipelines/Octane__loan_file_delivery_method_type.json
{
    "Comment": "Octane__loan_file_delivery_method_type - ETL to copy loan_file_delivery_method_type data from staging_octane to history_octane",
    "StartAt": "SP-100764",
    "States": {
        "SP-100764": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100764"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "parallel_11"
        },
        "parallel_11": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Parallel - SP-200009_7",
                    "StartAt": "SP-200009_7",
                    "States": {
                        "SP-200009_7": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200009"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_108"
                        },
                        "SP-300001_108": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_109"
                        },
                        "SP-200001_109": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200011_5",
                    "StartAt": "SP-200011_5",
                    "States": {
                        "SP-200011_5": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200011"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_109"
                        },
                        "SP-300001_109": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_110"
                        },
                        "SP-200001_110": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}

