infrastructure/pipelines/SP-100530.json
{
    "Comment": "SP-100530 - ETL to copy hmda_purchaser_of_loan_2017_type data from staging_octane to history_octane",
    "StartAt": "SP-100530",
    "States": {
        "SP-100530": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100530"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_144"
        },
        "choice_144": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_144"
                }
            ],
            "Default": "SP-200007"
        },
        "success_144": {
            "Type": "Succeed"
        },
        "SP-200007": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200007"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_145"
        },
        "choice_145": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_145"
                }
            ],
            "Default": "SP-300001_53"
        },
        "success_145": {
            "Type": "Succeed"
        },
        "SP-300001_53": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-300001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_146"
        },
        "choice_146": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_146"
                }
            ],
            "Default": "SP-200001_54"
        },
        "success_146": {
            "Type": "Succeed"
        },
        "SP-200001_54": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "End": true
        }
    }
}

