infrastructure/pipelines/SP-100451.json
{
    "Comment": "SP-100451 - ETL to copy courier_type data from staging_octane to history_octane",
    "StartAt": "SP-100451",
    "States": {
        "SP-100451": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100451"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "Parallel"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Parallel": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200011",
                    "StartAt": "SP-200011_message",
                    "States": {
                        "SP-200011_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_beneficiary_dim",
                                "MessageDeduplicationId": "$$.Task.Token",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200011"
                                    }
                                },
                                "MessageBody.$": "States.Format('\"mdi_input_json\":{}\\}', States.JsonToString($))"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200013",
                    "StartAt": "SP-200013_message",
                    "States": {
                        "SP-200013_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_funding_dim",
                                "MessageDeduplicationId": "$$.Task.Token",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200013"
                                    }
                                },
                                "MessageBody.$": "States.Format('\"mdi_input_json\":{}\\}', States.JsonToString($))"
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}

