infrastructure/pipelines/SP-100814.json
{
    "Comment": "SP-100814 - ETL to copy yes_no_unknown_type data from staging_octane to history_octane",
    "StartAt": "SP-100814",
    "States": {
        "SP-100814": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100814"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "parallel_14"
        },
        "parallel_14": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Parallel - SP-200004_2",
                    "StartAt": "SP-200004_2",
                    "States": {
                        "SP-200004_2": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200004"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_120"
                        },
                        "SP-300001_120": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_121"
                        },
                        "SP-200001_121": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200005_12",
                    "StartAt": "SP-200005_12",
                    "States": {
                        "SP-200005_12": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200005"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_121"
                        },
                        "SP-300001_121": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_122"
                        },
                        "SP-200001_122": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200006_5",
                    "StartAt": "SP-200006_5",
                    "States": {
                        "SP-200006_5": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200006"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_122"
                        },
                        "SP-300001_122": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_123"
                        },
                        "SP-200001_123": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200011_6",
                    "StartAt": "SP-200011_6",
                    "States": {
                        "SP-200011_6": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200011"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_123"
                        },
                        "SP-300001_123": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_124"
                        },
                        "SP-200001_124": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200014_10",
                    "StartAt": "SP-200014_10",
                    "States": {
                        "SP-200014_10": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200014"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_124"
                        },
                        "SP-300001_124": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_125"
                        },
                        "SP-200001_125": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200018_33",
                    "StartAt": "SP-200018_33",
                    "States": {
                        "SP-200018_33": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200018"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-300001_125"
                        },
                        "SP-300001_125": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "SP-200001_126"
                        },
                        "SP-200001_126": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}

