infrastructure/pipelines/SP-100697.json
{
    "Comment": "SP-100697 - ETL to insert records into staging.history_octane.org_node_lender_user_type using staging.staging_octane.org_node_lender_user_type as the primary source",
    "StartAt": "SP-100697",
    "States": {
        "SP-100697": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "Memory": "2048",
                    "ContainerOverrides": [
                        {
                            "Memory": 2048,
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100697"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                },
                                {
                                    "Name": "TOKEN_ID",
                                    "Value.$": "$$.Task.Token"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "Parallel"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Parallel": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-400003-delete",
                    "StartAt": "SP-400003-delete_message",
                    "States": {
                        "SP-400003-delete_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "edw_current_parent_node_employee_leaders",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-400003-delete"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-400003-insert-update",
                    "StartAt": "SP-400003-insert-update_message",
                    "States": {
                        "SP-400003-insert-update_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "edw_current_parent_node_employee_leaders",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-400003-insert-update"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}
