infrastructure/pipelines/SP-100516.json
{
    "Comment": "SP-100516 - ETL to copy fnm_mbs_reo_marketing_party_type data from staging_octane to history_octane",
    "StartAt": "SP-100516",
    "States": {
        "SP-100516": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100516"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "SP-200009_message"
        },
        "Success": {
            "Type": "Succeed"
        },
        "SP-200009_message": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Parameters": {
                "QueueUrl": "[QueueUrl]",
                "MessageAttributes": {
                    "MessageGroupId": {
                        "DataType": "String",
                        "StringValue": "investor_dim"
                    },
                    "ProcessId": {
                        "DataType": "String",
                        "StringValue": "SP-200009"
                    }
                },
                "MessageBody": {
                    "PreviousStepOutput": "States.Format('\"mdi_input_json\":{}\\}', States.JsonToString($))"
                }
            },
            "End": true
        }
    }
}

