infrastructure/pipelines/SP-100514.json
{
    "Comment": "SP-100514 - ETL to copy fnm_community_lending_product_type data from staging_octane to history_octane",
    "StartAt": "SP-100514",
    "States": {
        "SP-100514": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100514"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_126"
        },
        "choice_126": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_126"
                }
            ],
            "Default": "SP-200018_7"
        },
        "success_126": {
            "Type": "Succeed"
        },
        "SP-200018_7": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200018"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_127"
        },
        "choice_127": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_127"
                }
            ],
            "Default": "SP-300001_47"
        },
        "success_127": {
            "Type": "Succeed"
        },
        "SP-300001_47": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-300001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_128"
        },
        "choice_128": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_128"
                }
            ],
            "Default": "SP-200001_48"
        },
        "success_128": {
            "Type": "Succeed"
        },
        "SP-200001_48": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "End": true
        }
    }
}

