infrastructure/pipelines/SP-100267.json
{
    "Comment": "SP-100267 - ETL to insert records into staging.history_octane.deal using staging.staging_octane.deal as the primary source",
    "StartAt": "SP-100267",
    "States": {
        "SP-100267": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "Memory": "2048",
                    "ContainerOverrides": [
                        {
                            "Memory": 2048,
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100267"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                },
                                {
                                    "Name": "TOKEN_ID",
                                    "Value.$": "$$.Task.Token"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "Parallel"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Parallel": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200019",
                    "StartAt": "SP-200019_message",
                    "States": {
                        "SP-200019_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200019"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200020",
                    "StartAt": "SP-200020_message",
                    "States": {
                        "SP-200020_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_junk_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200020"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-300001-delete",
                    "StartAt": "SP-300001-delete_message",
                    "States": {
                        "SP-300001-delete_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_fact",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-300001-delete"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}

