infrastructure/pipelines/SP-100564.json
{
    "Comment": "SP-100564 - ETL to copy lien_priority_type data from staging_octane to history_octane",
    "StartAt": "SP-100564",
    "States": {
        "SP-100564": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100564"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_174"
        },
        "choice_174": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_174"
                }
            ],
            "Default": "parallel_9"
        },
        "success_174": {
            "Type": "Succeed"
        },
        "parallel_9": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Parallel - SP-200014_4",
                    "StartAt": "SP-200014_4",
                    "States": {
                        "SP-200014_4": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200014"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "choice_175"
                        },
                        "choice_175": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.load_type",
                                    "StringEquals": "NONE",
                                    "Next": "success_175"
                                }
                            ],
                            "Default": "SP-300001_63"
                        },
                        "success_175": {
                            "Type": "Succeed"
                        },
                        "SP-300001_63": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "choice_176"
                        },
                        "choice_176": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.load_type",
                                    "StringEquals": "NONE",
                                    "Next": "success_176"
                                }
                            ],
                            "Default": "SP-200001_64"
                        },
                        "success_176": {
                            "Type": "Succeed"
                        },
                        "SP-200001_64": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Parallel - SP-200018_13",
                    "StartAt": "SP-200018_13",
                    "States": {
                        "SP-200018_13": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200018"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "choice_177"
                        },
                        "choice_177": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.load_type",
                                    "StringEquals": "NONE",
                                    "Next": "success_177"
                                }
                            ],
                            "Default": "SP-300001_64"
                        },
                        "success_177": {
                            "Type": "Succeed"
                        },
                        "SP-300001_64": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-300001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "Next": "choice_178"
                        },
                        "choice_178": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.load_type",
                                    "StringEquals": "NONE",
                                    "Next": "success_178"
                                }
                            ],
                            "Default": "SP-200001_65"
                        },
                        "success_178": {
                            "Type": "Succeed"
                        },
                        "SP-200001_65": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "LaunchType": "FARGATE",
                                "Cluster": "${ecsClusterARN}",
                                "TaskDefinition": "${mdi_2_arn}",
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "AssignPublicIp": "DISABLED",
                                        "SecurityGroups": [
                                            "${securityGroupId}"
                                        ],
                                        "Subnets": ${subnetIDs}
                                    }
                                },
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Environment": [
                                                {
                                                    "Name": "PROCESS_NAME",
                                                    "Value": "SP-200001"
                                                },
                                                {
                                                    "Name": "INPUT_DATA",
                                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                                }
                                            ],
                                            "Name": "${mdi_2_container}"
                                        }
                                    ]
                                }
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}

