infrastructure/pipelines/SP-100430.json
{
    "Comment": "SP-100430 - ETL to copy buydown_subsidy_calculation_type data from staging_octane to history_octane",
    "StartAt": "SP-100430",
    "States": {
        "SP-100430": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100430"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_88"
        },
        "choice_88": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_88"
                }
            ],
            "Default": "SP-200018_3"
        },
        "success_88": {
            "Type": "Succeed"
        },
        "SP-200018_3": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200018"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_89"
        },
        "choice_89": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_89"
                }
            ],
            "Default": "SP-300001_33"
        },
        "success_89": {
            "Type": "Succeed"
        },
        "SP-300001_33": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-300001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_90"
        },
        "choice_90": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_90"
                }
            ],
            "Default": "SP-200001_34"
        },
        "success_90": {
            "Type": "Succeed"
        },
        "SP-200001_34": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "End": true
        }
    }
}

