infrastructure/pipelines/SP-100530.json
{
    "Comment": "SP-100530 - ETL to copy hmda_purchaser_of_loan_2017_type data from staging_octane to history_octane",
    "StartAt": "SP-100530",
    "States": {
        "SP-100530": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "Memory": "2048",
                    "ContainerOverrides": [
                        {
                            "Memory": 2048,
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100530"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                },
                                {
                                    "Name": "TOKEN_ID",
                                    "Value.$": "$$.Task.Token"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "SP-200007_message"
        },
        "Success": {
            "Type": "Succeed"
        },
        "SP-200007_message": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Parameters": {
                "QueueUrl": "${fullCheckQueueUrl}",
                "MessageGroupId": "hmda_purchaser_of_loan_dim",
                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                "MessageAttributes": {
                    "ProcessId": {
                        "DataType": "String",
                        "StringValue": "SP-200007"
                    }
                },
                "MessageBody.$": "States.JsonToString($)"
            },
            "End": true
        }
    }
}

