infrastructure/pipelines/SP-100636.json
{
    "Comment": "SP-100636 - ETL to copy qualified_mortgage_status_type data from staging_octane to history_octane",
    "StartAt": "SP-100636",
    "States": {
        "SP-100636": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100636"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_251"
        },
        "choice_251": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_251"
                }
            ],
            "Default": "SP-200014_5"
        },
        "success_251": {
            "Type": "Succeed"
        },
        "SP-200014_5": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200014"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_252"
        },
        "choice_252": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_252"
                }
            ],
            "Default": "SP-300001_89"
        },
        "success_252": {
            "Type": "Succeed"
        },
        "SP-300001_89": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-300001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_253"
        },
        "choice_253": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_253"
                }
            ],
            "Default": "SP-200001_90"
        },
        "success_253": {
            "Type": "Succeed"
        },
        "SP-200001_90": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "End": true
        }
    }
}

