infrastructure/pipelines/SP-100613.json
{
    "Comment": "SP-100613 - ETL to copy prepaid_interest_rate_type data from staging_octane to history_octane",
    "StartAt": "SP-100613",
    "States": {
        "SP-100613": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-100613"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_224"
        },
        "choice_224": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_224"
                }
            ],
            "Default": "SP-200018_19"
        },
        "success_224": {
            "Type": "Succeed"
        },
        "SP-200018_19": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200018"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_225"
        },
        "choice_225": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_225"
                }
            ],
            "Default": "SP-300001_80"
        },
        "success_225": {
            "Type": "Succeed"
        },
        "SP-300001_80": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-300001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "choice_226"
        },
        "choice_226": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "success_226"
                }
            ],
            "Default": "SP-200001_81"
        },
        "success_226": {
            "Type": "Succeed"
        },
        "SP-200001_81": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "SP-200001"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "End": true
        }
    }
}

