infrastructure/pipelines/SP-100317.json
{
    "Comment": "SP-100317 - ETL to insert records into staging.history_octane.proposal using staging.staging_octane.proposal as the primary source",
    "StartAt": "ETL-100317",
    "States": {
        "ETL-100317": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "Memory": "4096",
                    "ContainerOverrides": [
                        {
                            "Memory": 4096,
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "ETL-100317"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                },
                                {
                                    "Name": "TOKEN_ID",
                                    "Value.$": "$$.Task.Token"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "ETL-100317_Next_Step_Functions"
        },
        "Success": {
            "Type": "Succeed"
        },
        "ETL-100317_Next_Step_Functions": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200012",
                    "StartAt": "SP-200012_message",
                    "States": {
                        "SP-200012_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200012"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200014",
                    "StartAt": "SP-200014_message",
                    "States": {
                        "SP-200014_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_junk_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200014"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200019",
                    "StartAt": "SP-200019_message",
                    "States": {
                        "SP-200019_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200019"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200020",
                    "StartAt": "SP-200020_message",
                    "States": {
                        "SP-200020_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_junk_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200020"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200023",
                    "StartAt": "SP-200023_message",
                    "States": {
                        "SP-200023_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "cash_out_reason_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200023"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200025",
                    "StartAt": "SP-200025_message",
                    "States": {
                        "SP-200025_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "underwrite_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200025"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200026",
                    "StartAt": "SP-200026_message",
                    "States": {
                        "SP-200026_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_construction_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200026"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200027",
                    "StartAt": "SP-200027_message",
                    "States": {
                        "SP-200027_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_disaster_declaration_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200027"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200028",
                    "StartAt": "SP-200028_message",
                    "States": {
                        "SP-200028_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_govt_programs_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200028"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200029",
                    "StartAt": "SP-200029_message",
                    "States": {
                        "SP-200029_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_property_repairs_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200029"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-300001-delete",
                    "StartAt": "SP-300001-delete_message",
                    "States": {
                        "SP-300001-delete_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_fact",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-300001-delete"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}
