infrastructure/pipelines/SP-200019.json
{
    "Comment": "SP-200019 - ETL to insert_update records into staging.star_loan.transaction_dim using staging.history_octane.proposal as the primary source",
    "StartAt": "ETL-200019",
    "States": {
        "ETL-200019": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 5,
                    "BackoffRate": 2.0
                }
            ],
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "Memory": "4096",
                    "ContainerOverrides": [
                        {
                            "Memory": 4096,
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "ETL-200019"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                },
                                {
                                    "Name": "TOKEN_ID",
                                    "Value.$": "$$.Task.Token"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "ETL-200019_Next_Step_Functions"
        },
        "Success": {
            "Type": "Succeed"
        },
        "ETL-200019_Next_Step_Functions": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200026",
                    "StartAt": "SP-200026_message",
                    "States": {
                        "SP-200026_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_construction_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200026"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200027",
                    "StartAt": "SP-200027_message",
                    "States": {
                        "SP-200027_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_disaster_declaration_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200027"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200028",
                    "StartAt": "SP-200028_message",
                    "States": {
                        "SP-200028_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_govt_programs_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200028"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200029",
                    "StartAt": "SP-200029_message",
                    "States": {
                        "SP-200029_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_property_repairs_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200029"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-200041",
                    "StartAt": "SP-200041_message",
                    "States": {
                        "SP-200041_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "transaction_aux_subject_property_dim",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-200041"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "Comment": "Send message to bi-managed-mdi-2-full-check-queue for SP-300001-insert-update",
                    "StartAt": "SP-300001-insert-update_message",
                    "States": {
                        "SP-300001-insert-update_message": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Parameters": {
                                "QueueUrl": "${fullCheckQueueUrl}",
                                "MessageGroupId": "loan_fact",
                                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                                "MessageAttributes": {
                                    "ProcessId": {
                                        "DataType": "String",
                                        "StringValue": "SP-300001-insert-update"
                                    }
                                },
                                "MessageBody.$": "States.JsonToString($)"
                            },
                            "End": true
                        }
                    }
                }
            ]
        }
    }
}
