infrastructure/pipelines/SP-300001-delete.json
{
    "Comment": "SP-300001-delete - ETL to delete records from staging.star_loan.loan_fact using staging.history_octane.loan as the primary source",
    "StartAt": "ETL-300001-delete",
    "States": {
        "ETL-300001-delete": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 5,
                    "BackoffRate": 2.0
                }
            ],
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${ecsClusterARN}",
                "TaskDefinition": "${mdi_2_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "DISABLED",
                        "SecurityGroups": [
                            "${securityGroupId}"
                        ],
                        "Subnets": ${subnetIDs}
                    }
                },
                "Overrides": {
                    "Memory": "2048",
                    "ContainerOverrides": [
                        {
                            "Memory": 2048,
                            "Environment": [
                                {
                                    "Name": "PROCESS_NAME",
                                    "Value": "ETL-300001-delete"
                                },
                                {
                                    "Name": "INPUT_DATA",
                                    "Value.$": "States.Format('\\{\"token_id\":\"{}\",\"mdi_input_json\":{}\\}', $$.Task.Token, States.JsonToString($))"
                                },
                                {
                                    "Name": "TOKEN_ID",
                                    "Value.$": "$$.Task.Token"
                                }
                            ],
                            "Name": "${mdi_2_container}"
                        }
                    ]
                }
            },
            "Next": "Load_type_choice"
        },
        "Load_type_choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.load_type",
                    "StringEquals": "NONE",
                    "Next": "Success"
                }
            ],
            "Default": "SP-200001-delete_message"
        },
        "Success": {
            "Type": "Succeed"
        },
        "SP-200001-delete_message": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 5,
                    "BackoffRate": 2.0
                }
            ],
            "Parameters": {
                "QueueUrl": "${fullCheckQueueUrl}",
                "MessageGroupId": "loan_lender_user_access",
                "MessageDeduplicationId.$": "States.Format('{}_{}', $$.State.Name, $$.State.EnteredTime)",
                "MessageAttributes": {
                    "ProcessId": {
                        "DataType": "String",
                        "StringValue": "SP-200001-delete"
                    }
                },
                "MessageBody.$": "States.JsonToString($)"
            },
            "End": true
        }
    }
}
